<link rel="stylesheet" href="/css/_footer.css">

<footer id="layout-footer">
    <div id="copyright">
        <p>
            &#169; Codeial. All Rights Reserved
        </p>
    </div>

    <div id="menu-footer">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>